.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input,
textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

button {
    padding: 0.5em 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
.thankList{
    display: flex;
    align-items: center;
}
.thankList label{
    width: 6em;
}